h3{
    color: rgb(21, 21, 134);
}
h4{
    color:rgb(53, 53, 224);
}
button{
    display: block;
    margin-bottom: 20px;
}
.first-btn{
    border-radius: 20px;
    background-color: rgb(34, 34, 153);
    color:white;
    padding:10px 10px;
}

.second-btn{
    border-radius: 20px;
    border-color: rgb(34, 34, 153);
    padding: 10px 10px;
}

.container{
    display: grid;
    grid-template-areas: 'fir sec thi fou';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left:20px;
}
.first{
    grid-area: fir;
    margin-right: 20px;
}
.second{
    grid-area: sec;
    margin-left: 20px;
}
.third{
    grid-area: thi;
    margin-left: 20px;
}
.fourth{
    grid-area: fou;
    background-color: rgb(153, 221, 198);
    padding:20px;
}

