#elementToWorkOn{
    border: 2px solid black;
    background-color: gray;
    color:white;
    font-weight: bold;
    margin:4px;
    padding:20px;
    width:30%;

    /* for hiding or show content */
    display: none;
}